@media only screen and (max-width: 600px) {body{transform: rotate(90deg);}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');
.rectangulo{width: 8.5em;
             height: 12em;
             border: 2px solid #fff;
             margin: 3em;
             display: flex;
             justify-content: center;
             align-items: center;
             font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
             color: white;
             font-weight: 300;
             }
img.zoom {
 width: 8.5em;
 height: 12em;
 -webkit-transition: all 2s ease-in-out;
 -moz-transition: all 2s ease-in-out;
 -o-transition: all 2s ease-in-out;
 -ms-transition: all 2s ease-in-out;
 transition: all 1s;
 
}

.transition {
 -webkit-transform: scale(1.8); 
 -moz-transform: scale(1.8);
 -o-transform: scale(1.8);
 transform: scale(1.8);


}           
 .volver{position: fixed;
         top:80%;
         right:83%;
         }
 #volverGeneral{z-index: 650;}        
a{filter: brightness(60%);
   transition: linear 1s;
   text-decoration: none;
   color: white;
   font-weight: 700;
   font-size: 1.2em;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
a:hover{filter: brightness(100%);} 
button{filter: brightness(70%);
   transition: linear .6s;
   text-decoration: none;
   color: white;
   font-weight: 700;
   font-size: 1.2em;
   background: none;
   border-radius: 7px;
   border:none;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
button:hover{filter: brightness(100%);
             cursor: pointer;} 
button:focus{outline: none;}             
.bold{font-weight: 700;}
.dosObras{display: flex;
          justify-content: center;
           align-items: center; }  
.unoIdioma{display: flex;
           flex-direction: column;
           text-align: center;}
 h4{color: #fff;
   font-family: 'Montserrat', 'Century gothic', sans-serif;
   font-weight: 300;
   font-size: 1.3em;
   filter: brightness(55%);
   margin: .5em;
   padding-left: .5em;}          
 h5{color: #fff;
   font-family: 'Montserrat', 'Century gothic', sans-serif;
   font-weight: 500;
   font-size: 1em;
   filter: brightness(55%);
   padding-left: 1em;
   padding-right: .1em;
    margin-top: 0em;} 
  
  .contenedorObras{position: absolute;
                 bottom: -50%;
                      } 
   .contenedorObrasIngles{position: absolute;
    bottom: -50%;  } 
    img{z-index: 100;}
    .img{z-index: 100;} 
    .img2{z-index: 120;}
    .img3{z-index: 122;}
    .img4{z-index: 123;}         
    #obra1{position: absolute;
           bottom: 40%;
           right: 15%;
           margin-left: 5em;
           margin-right: 10em;
           }
    #obra2{position: absolute;
           bottom: 40%;
           right: 30%;
           margin-left:8em;
           margin-right: -2em;}    
    #obra3{position: absolute;
           bottom: 40%;
           left: 45%;
           margin-left:-.8em;
           margin-right: 2em;}   
    #obra4{position: absolute;
           bottom: 40%;
           left: 60%;
           margin-left: 11em;
           margin-right: 10em;
           }
     #img{z-index: 100;
           }      
    .boton1{z-index: 150;
            position: absolute;
             top:34%;
             left:25%;
             cursor: pointer;
             width: 8em } 
     .boton2 {z-index: 150;
            position: absolute;
             top:-7em;
             left:2em;
             padding-left: 3em;
             padding-bottom: 3em;
             cursor: pointer; } 
      .siguiente{z-index: 350;
            position: absolute;
             top:10%;
             left:80%;
             cursor: pointer;
              }           
      #estrellas{z-index: 150;
            position: absolute;
             top:28%;
             left:-56%;
             width: 10em;
             }
     #estrellas1{z-index: 150;
                  position: absolute;
                  top:28%;
                 left:-56%;
                  width: 8em;
                 }      
     #estrellas2{z-index: 150;
                position: absolute;
                 top:28%;
                  left:-56%;
                  width: 7em;
                 }    
    #volverGeneral{z-index: 250;
            position: absolute;
             top:63%;
             left:-57%;
             }
    .volverGeneralImagen{width: 9em;}  
    .siguienteImagen{width: 11em;}       
   #volverGeneral2{z-index: 250;
            position: absolute;
             top:63%;
             left:-57%;
             }      
   #volverGeneral3{z-index: 250;
            position: absolute;
             top:60%;
             left:-60%;
             }    
   #volverGeneral4{z-index: 250;
            position: absolute;
             top:60%;
             left:-60%;
             } 
   #fin{z-index: 350;
            position: absolute;
             top:39%;
             left:45%;
             }                                   
    #volverIdiomas{z-index: 20;
            position: absolute;
             top:84%;
             left:1%;
             }    
   #volverObras{z-index: 20;
            position: absolute;
             top:84%;
             left:1%;
             }                      
    #siguiente{z-index: 150;
            position: absolute;
             top:30%;
             left:98%;
             
             }
   #siguiente2{z-index: 150;
            position: absolute;
             top:10%;
             left:74%;
             } 
   #siguiente3{z-index: 150;
            position: absolute;
             top:14%;
             left:74%;
             filter: brightness(80%);
             transition: .6s;
             }  
   #siguiente3:hover{
             filter: brightness(100%);
             
             }
   #siguiente4{z-index: 150;
            position: absolute;
             top:14%;
             left:74%;
             filter: brightness(80%);
             transition: .6s;
             }  
   #siguiente4:hover{
             filter: brightness(100%);
             
             }
  #siguiente5{z-index: 150;
            position: absolute;
             top:14%;
             left:74%;
             filter: brightness(80%);
             transition: .6s;
             }  
   #siguiente5:hover{
             filter: brightness(100%);
             
             }
    #piezas{z-index: 150;
            position: absolute;
             top:19%;
             left:30%;
             filter: brightness(80%);
             transition: .6s;
             }  
   #piezas:hover{
             filter: brightness(100%);
             
             }
     .imgFondo{z-index: 50;
            width: 80em;}                                                                  
    #hombreUno  {z-index: 150;
            position: absolute;
             top:35%;
             left:23%;
             width: 110%;
             }  
     #hombreDos {z-index: 150;
            position: absolute;
             top:32%;
             left:85%;
             width: 50%;
             }                                      
       .preguntas{position: absolute;
                   z-index: 503;
                   top:30%;
                   left:10%;
                   background-color: rgba(0, 0, 0, 0.479);
                   border-radius: 25px;
                   
                 }      
      #correcto{position: absolute;
                   z-index: 124;
                   top:15%;
                   left:35%;
                   width: 3em;
                 }                      
      #error{position: absolute;
                   z-index: 124;
                   top:15%;
                   left:35%;
                   width: 3em; } 
       .mano{position: absolute;
                   z-index: 124;
                   top:0%;
                   left:35%;
                  
                 } 
       .hombre{position: absolute;
                   z-index: 204;
                   top:0;
                   left:0;
                  
                 }    
        #img5{position: absolute;

               width: 100%;
               height: 100vh;
               display: flex;
                align-items: center; }
        #img7{position: absolute;
               width: 100%;
               height: 100vh;
               display: flex;
                align-items: center; }         
       #rompecabezasVacio{width: 100%;}  
       #rompecabezasCompleto{width: 100%;}                                                 
       #seleccione{z-index: 150;
            position: absolute;
             top:20%;
             left:35%;
             filter: brightness(50%);
             width: 36em;
             }  
         .img{width: 100%;
               height: 100vh;
               background: cover;} 

            }